
<div class="ufo">
<%= image_tag "ufo.png" %>

</div>
    <div class="ufo-2">
    <%= image_tag "ufo_2.png" %>
</div>

<div class="content">
    <div class="traffic-1">
        <%= image_tag "traffic.png" %>
    </div>
<div class="traffic-2">
        <%= image_tag "traffic-2.png" %>
    </div>
</div>
